.comicssearchbardiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 20px 30px;
}

.comicssearchbar {
  text-align: center;
  background-color: #1e1e1e;
  flex: 1;
  border: none;
  width: 200px;
  height: 40px;
  font-size: 17px;
  color: #757575;
  border-radius: 5px;
}

.comicssearchbar:focus {
  outline: none;
}

.comicsdiv {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.comicbox {
  border-radius: 10px;
  border: 1px solid #1e1e1e;
  width: calc((100% - 40px) / 5);
  background-color: #141414;
  height: 340px;
}

.comicbox:hover {
  box-shadow: 3px 2px 2px #1e1e1e;
  cursor: pointer;
  opacity: 90%;
}

.comicpicbox {
  height: 220px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.comicpic {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: top;
}

.comicdescriptionbox {
  padding: 10px;
  height: 120px;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* justify-content: center; */
  /* align-items: center; */
}

.comicbox h2 {
  font-size: 18px;
  font-weight: bold;
}

.comicdescriptionparagraph {
  text-justify: auto;
  flex: 1;
  color: #595959;
  font-size: 13px;
  overflow: scroll;
}

.comicdescriptionparagraph:hover {
  color: white;
}
